MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=shoob
MONGODB_COLLECTION=cards
MONGODB_STATE_COLLECTION=scraper_state

BASE_URL=https://shoob.gg/cards?page=
START_PAGE=2
END_PAGE=10
PAGE_LOAD_TIMEOUT=20
GALLERY_WAIT=4
DETAIL_WAIT=15
DETAIL_EXTRA_WAIT=1
HEADLESS=false
SKIP_EXISTING=true
RESET_PROGRESS=false
